body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.navigation-grocery {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.logo {
    width: 70px;
    height: 70px;
    margin-left: 20px;
}

.navigation-grocery {
    background-color: rgba(168, 168, 130, 0.4);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.navigation-grocery li a, header h4 a {
    color: rgb(201, 195, 168);
}

.navigation-grocery li {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navigation-grocery li:hover {
    background: #ddd;
    color: transparent;
}

.navigation-grocery li.split {
    float: right;
    background-color: #04AA6D;
    color: white;
}

.navigation-items {
    list-style-type: none;
}

.navigation-items li {
    display: inline;
    margin-right: 16px;
}   

header, h1 {
    text-align: center;
}

#header-text {
    position: absolute;
    top: 40%;
    width: 100%;
    border-style:none;
    border-radius: 30px;
}

#header-text div {
    width: 50%;
    margin: auto;
    background: rgba(168, 168, 130, 0.600);
    padding: 10px;
    border-radius: 40px;
}

header img {
    width: 100%;
    margin-bottom: 100px;
}

input {
    text-align: center;
    width: 200px;    
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    resize: vertical; 
}

.form-name {
    width: 250px;
    margin: auto;
    border: 10px solid blanchedalmond;
    border-radius: 10%;
    padding: 20px;
    margin-top: 25px;

}

.form-container {
    padding-top: 100px;
}

form  {
    text-align: center;
    top: 50%;
}

label {
    display: block;
}

input [type='submit'] {
    text-align: center;
    background-color: #43463d;
    color: aliceblue;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
}

#fname-error, #lname-error, #phone-error {
    background-color: red;
    display: block;
    width: 200px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.submit :hover {
    background-color: aqua;
}

.Our-product {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

#OUR-PRODUCT {
    margin-top: 350px;
}

.Our-product div {
    text-align: center;
    justify-content: center;
}

.circle img {
    width: 100px;
    height:100px;
    border: 2px solid blueviolet;
    border-radius: 50%;
}

.inquiry-customer {
    display: flex;
    justify-content: space-around;
}

.inquiry-form {
    display: flex;
    flex-direction: column;
}

.output {
    display: none;
    border: 1px solid burlywood;
}

@media only screen and (max-width: 600px) {
    header {
        margin-top: 200px;
    }
    .navigation-grocery {
        flex-direction: column;
    }
    .logo {
        margin-left: 0px;
    }
    .navigation-items {
        display: flex;   
        flex-direction: column;
        width: 100%;
        padding-left: 0%;
        padding-right: 0;
    }
    .navigation-items li {
        margin-right: 0;
    }
    .Our-product {
        flex-direction: column;
    }
}



